<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head') %>
    <title>Kitesurf Spots</title>
</head>
<body>
    <%- include ('./partials/header') %>

    <main>
<!-- Zoek functie-->
<div class="search"> 
    <input type="text" class="inputValue" placeholder="Voer een bestemming in"> 
    <input type="submit" value="submit" class="button">
</div>



<!-- Response van zoek functie-->
<div class="display">  
    <h1 class="name"></h1>
    <p class="desc"></p>
    <p class="temp"> </p>
    <p class="wind"> </p>
</div>


<!-- top 5 spots -->
<div class="list"> </div>



<!-- detail page -->
<section class="spots5">
    <h2 class="surfspot"></h2> 
    <p></p>
</section>
    </main>

 <%- include ('./partials/footer') %>
</body>
</html>