<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head') %>
    <title>Kitesurf Spots</title>
</head>
<body>
    <header> 
    <%- include ('./partials/header') %>
</header>
<main> 

    <%- include ('./partials/main/bodyMain.ejs') %>


</main>
<footer> 

 <%- include ('./partials/footer') %>
</footer>

</body>
</html>